#; Environment in which the app runs (production OR development)
APP_ENV = development

# Seed used for CSRF token generation and as prefix name for cache entries and temp filenames
APP_SEED =

# Timezone to use. See https://php.net/manual/en/timezones.php
APP_TIMEZONE = UTC

# App url used in some views
APP_URL = http://example.com
